HR.Contracts/HR.Contracts.WebUI/Service References/ContractService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HR.Contracts.Services.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HR.Contracts.Services.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HR.Contracts.Shared.Enums" />
  <xs:complexType name="DtoContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Experience" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HR.Contracts.Shared.Enums" minOccurs="0" name="Type" type="q1:ContractType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoContract" nillable="true" type="tns:DtoContract" />
  <xs:complexType name="ArrayOfDtoContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoContract" nillable="true" type="tns:DtoContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoContract" nillable="true" type="tns:ArrayOfDtoContract" />
</xs:schema>