HR.Contracts/HR.Contracts.WebUI/Service References/SalaryService/ContractService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContractService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HR.Contracts.Services.Dto" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HR.Contracts.Shared.Enums" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HR.Contracts.Shared.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContractService_CreateContract_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContract" />
  </wsdl:message>
  <wsdl:message name="IContractService_CreateContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContractResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAllContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContracts" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAllContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_CalculateSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSalary" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_CalculateSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSalaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IContractService">
    <wsdl:operation name="CreateContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/CreateContract" message="tns:IContractService_CreateContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/CreateContractResponse" message="tns:IContractService_CreateContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/GetAllContracts" message="tns:IContractService_GetAllContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/GetAllContractsResponse" message="tns:IContractService_GetAllContracts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISalaryService">
    <wsdl:operation name="CalculateSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/CalculateSalary" message="tns:ISalaryService_CalculateSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/CalculateSalaryResponse" message="tns:ISalaryService_CalculateSalary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContractService" type="tns:IContractService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateContract">
      <soap:operation soapAction="http://tempuri.org/IContractService/CreateContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContracts">
      <soap:operation soapAction="http://tempuri.org/IContractService/GetAllContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISalaryService" type="tns:ISalaryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateSalary">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/CalculateSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IContractService1" type="tns:IContractService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateContract">
      <soap:operation soapAction="http://tempuri.org/IContractService/CreateContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContracts">
      <soap:operation soapAction="http://tempuri.org/IContractService/GetAllContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISalaryService1" type="tns:ISalaryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateSalary">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/CalculateSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractService">
    <wsdl:port name="BasicHttpBinding_IContractService" binding="tns:BasicHttpBinding_IContractService">
      <soap:address location="http://localhost:8080/ContractService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISalaryService" binding="tns:BasicHttpBinding_ISalaryService">
      <soap:address location="http://localhost:8080/SalaryService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IContractService1" binding="tns:BasicHttpBinding_IContractService1">
      <soap:address location="http://localhost:8080/" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISalaryService1" binding="tns:BasicHttpBinding_ISalaryService1">
      <soap:address location="http://localhost:8080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>